@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
 
    --red:#d63a25;
    --white:#fff ;
    --dark:#1e1c2a ; 
    --gray:#D3D3D3; 
    --gray-claro:#DCDCDC; 
    --silver:#C0C0C0; 
    --hover: #e24b27; 
    --btn-compra: #198000; 
    --red-puro:red;
}

body{
    color: var(--dark);
    background: var(--white);
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background:var(--white);
    transition: all 0.5s;
    position: fixed;
}

.logo-top-header{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 600;
}

.logo-top-header span{
    color: var(--dark);
    font-weight: 500;
}

.nav-header ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-left: 20px;
}

.nav-header ul li a{
    color: #717171;
    font-size: 13.5px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-header ul li a:hover{
    color: var(--hover);
    display: flex;
}

.nav-header i{
    cursor: pointer;
    font-size: 1.2rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 26px;
    height: 2px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all  0.3s;
}


.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

.span-item{
    color: #d63a25;
}

.input{
    border: none;
    border-bottom: 0.5px solid var(--silver);
    outline: 0;
    transition: all 0.5s;
}

.input:focus{
    border-bottom: 0.5px solid cornflowerblue;
    color: cornflowerblue;
    transition:all 800ms;
    transform: translatex(-15px);
}

.k{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-header{
    height: 20px;
}

.div-img-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    align-items: center;
    margin-left:100px;
}

.par-header-rs{
   color: #d63a25;
   font-size: 13px;
   transition: all 0.2s;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
}

.par-header-rs:hover{
    color: #198000;
    transition:all 0.5s;
}

.o{
    height: 20px;
}

label{
    display: flex;
    flex-direction: row;
    margin-left: -175px;
    font-size: 14px;
    transition: all 0.5s;
    color: var(--silver);
}

label:hover{
    color: #d63a25;
    transition: all 1s;
    cursor: pointer;
}

.div-pai-maker{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    margin-left:50px;
}

.div-img-maker{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loc-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-maker{
    height:18px;
}

.par-loc{
    color: #d63a25;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.par-loc:hover{
    color: cornflowerblue;
    transition: all 0.7s;
}

.span{
    color: var(--silver);
    font-size: 12px;
    font-weight: 500;
    margin-left:5px;
    transition: all 0.5s;
    cursor: pointer;
}

.span:hover{
    color: cornflowerblue;
    transition: all 1s;
}

.conteudo-article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left:120px;
    margin-top: 40px;
    gap: 5px;
}

.paragrafos-div-article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 55px;
    margin-left: 120px;
}

.par-article{
    font-size:13px;
    color: #717171;
    margin-top:3px;
    cursor: pointer;
}

.img-article{
    height:90px;
    cursor: pointer;
}

.s5{
    margin-left: -10px;
}

.s4{
    margin-left:15px;
}

.s3{
    margin-left: 10px;
}

.s2{
    margin-left: -8px;
}

.s1{
    margin-left:-17px;
}

.s{
    margin-left:7px;
}

.div-img-promoçoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

.img-quero{
    height: 260px;
    border-radius:10px;
    margin-top: 65px;
    margin-left:10px;
    transition:all 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-quero2{
    height: 260px;
    border-radius:10px;
    margin-top: 65px;
    margin-left:15px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h2-me-poupe{
    font-size:1.1rem ;
    font-weight: 600;
    color: #3f3e3e;
    margin-left:115px;
    margin-top: 50px;
}

.img-cupon{
    height: 80px;
    margin-left:120px;
    margin-top:20px;
}

.par-cupons{
    color:#717171;
    font-weight:500;
    font-size:12.5px;
    margin-left:140px;
}

.l{
    height: 50px;
}

.h2-food{
    font-size:1.1rem ;
    font-weight: 600;
    color: #3f3e3e;
    margin-left:115px;
    margin-top: 50px;
}

.div-mec{
    height: 110px;
    width: 280px;
    border: 0.2px solid #dcdcdc;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.div-mec:hover{
    transition: all 1s;
}

.img-mec{
    height: 70px;
    margin-left: -40px;
}

.par-mecdonald-s{
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 9px;
}

.par-mecdonald-s-lan{
    font-weight: 500;
    font-size: 0.8rem;
    color: black;
    margin-left: 8px;

}

.par-coco-bambu{
    font-weight: 500;
    font-size: 0.8rem;
    color: black;
    margin-left: 8px;
}

.div-coco-bambu{
    height: 120px;
    width: 250px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition:all 0.5s;
}

.img-coco-bambu{
    height: 70px;
    margin-left: -25px;
    border-radius: 10px;
}

.div-coco-bambu:hover{
    border: none;
    transition: all 1s ease-in-out;
}

.par-coco-bambu-2{
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 9px;
}

.conteiner-patrocinios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top:0px;
}

.img-outback{
    height: 55px;
    margin-left: -0px;
    border-radius: 0px;
}

.img-habibis{
    height: 70px;
    margin-left: -100px;
    border-radius: 10px;
}

.div-trolagem{
    display: flex;
    flex-direction: row;
}

.p-trolagem{
    color: #d63a25;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
    margin-left:800px;
}

.img-gangue-gay{
    height: 80px;
    width: 100px;
}

.conteiner-abaixa-o-preço-do-kisuk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-top: 65px;
    align-items: center;
    gap: 12px;
}

.btn-passar-para-lado{
    height:25px;
    margin-left: -45px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-passar-para-lado:active{
    transition: all 1s;
    transform: translateX(0px);
}

.conteiner-patrocinios{
    transition: all 0.5s;
}

.conteiner-patrocinios:active{
    transition: all 1s;
    transform: translateX(40px);
}

.butao-i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn-1{
    background: #ea1d2c;
    color: #fff;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    transition: all 200ms;
}

.btn-1:hover{
    background-color: var(--white);
    transition:  all 500ms;
    border: 0.1px solid red;
    color: red;
}
.btn-1:active{
    transition: all 1s ;
    transform: translateY(30px);
}

.img-lixo{
    height: 10px;
    margin-left: 5px;
}

.imgk{
    height: 15px;
}

.imgp{
    height: 10px;
    margin-left: 5px;
}

.spa{
    height: 15px;
    margin-left: 5px;
}

.imgp1{
    height: 10px;
    margin-left: 5px;
}

.div-pai-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 115px;
    align-items: center;
    gap: 10px;
    margin-top:50px;
}

.oi{
    color: #717171;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    height: 40px;
    width: 115px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 100ms;
}

.o2{
    color: #717171;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 100ms;
}

.o3{
    color: #717171;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    height: 40px;
    width: 135px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 100ms;
}
.oi4{
    color: #717171;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    height: 40px;
    width: 135px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 100ms;
}

.oi:hover{
    opacity: 75%;
    transition: 500ms;
}

.o2:hover{
    opacity: 75%;
    transition: 500ms;
}

.o3:hover{
    opacity: 75%;
    transition: 500ms;
}

.oi4:hover{
    opacity: 75%;
    transition: 500ms;
}

.oi:focus{
    background: red;
    color: #fff;
    transition: all 1s;
}

.o2:focus{
    background: red;
    color: #fff;
    transition: all 1s;
}

.o3:focus{
    background: red;
    color: #fff;
    transition: all 1s;
}

.oi4:focus{
    background-color: red;
    color: #fff;
    transition: all 1s;
}

.par-lojas{
    font-size:20px ;
    font-weight: 500;
    color: #3f3e3e;
}

.div-pai-lojas{
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 30px;
}

.pai-mec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 100px;
}

.filho-pai-mec{
    cursor: pointer;
}

.h3-mec-filho{
    color:#3f3e3e ;
    font-size:15px ;
    font-weight:600;
    margin-top: 0px;
    margin-left: -46px;
}

.par-mec-filho-lojas{
    color:#717171 ;
    font-size:12px;
    font-weight:400 ;
    margin-left: -46px;
    margin-top: 2px;
}

.par-mec-filho-lojas-2{
    color:#717171 ;
    font-size:12.5px;
    font-weight:300;
    margin-left: -46px;
    margin-top: 2px;
}

.img-mec-lojas{
    height: 100px;
}

.img-mec-lojas-2{
    height: 95px;
    border-radius: 15px;
}

.img-mec-lojas-5{
    height: 100px;
    border-radius: 15px;
}

.img-mec-lojas-7{
    height: 100px;
    border-radius: 15px;
    margin-left:10px;
}

.gratis-span{
   color: green;
   font-weight: 400;
   opacity: 60%;
}

.pai-mec-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:55px;
    cursor: pointer;
    margin-top: 45px;
    margin-right: 00px;
}

.filho-pai-mec-2{
    cursor: pointer;
}

.img-mec-lojas-4{
    height: 95px;
    border-radius: 15px;
    margin-left: 00px;
}

.img-mec-lojas-3{
    height: 100px;
    border-radius: 16px;
    margin-left:75px;
}

.img-mec-lojas-6{
    height: 95px;
    border-radius: 15px;
    margin-right: 10px;
}

.pai-mec-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:55px;
    cursor: pointer;
    margin-top: 45px;
    margin-right: 00px;
}

.img-mec-lojas-z{
    margin-left: 25px;
    height: 95px;
    border-radius:15px;
}

.pai-mec-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:55px;
    cursor: pointer;
    margin-top: 45px;
    margin-right: 00px;
}

.ultimo{
    background-color: white;
    border: none;
    color: red;
    font-weight: 500;
    font-size: 15px;
    margin-left: 650px;
    margin-top: 70px;
    transition: all 200ms ;
    cursor: pointer;
}

.div-ultimo-style{
    height: 30px;
}